/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
html,body {
	margin:0;
	padding:0;
	height: 100%;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
img { 
	border:0;
}
address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
header{
	display: block;
}
/* General Demo Style */
body{
	font-family: Open Sans, Georgia, serif;
	/* background:url(images/bgnoise_lg.png); */
	font-weight: 400;
	font-size: 15px;
	color: #3a2127;
	overflow-y: scroll;
}
a{
	color: #333;
	text-decoration: none;
}
.container{
	width: 100%;
	height: 100%;
	position: relative;
}
.clr{
	clear: both;
}

.logo {
    font-size: 0;
    margin-bottom: 20px;
    /* text-align: left; */
  }

  .logo span {
    font-weight: 600;
    font-size: 22px;
    padding: 0;
    margin-right: 1px;
  }

  .intro {
	  font-size: 22px;
	  font-weight: 400;
  }

.form{background:#f1f1f1; width:470px; margin:0 auto; padding-left:50px; padding-top:20px;}
.form fieldset{border:0px; padding:0px; margin:0px;}
.form p.contact { font-size: 12px; margin:0px 0px 10px 0;line-height: 14px; font-family:Arial, Helvetica;}

.form input[type="text"] { width: 400px; }
input:-webkit-autofill {-webkit-box-shadow: 0 0 0px 1000px white inset;}
.form input[id="name"] { width: 305px; margin-right: 5px;}
/* .form input[id="address"] { width: 305px; margin-right: 5px;} */
.form input[type="email"] { width: 400px; }
.form input[type="password"] { width: 400px; }
/* .form input.birthday{width:60px;}
.form input.birthyear{width:120px;} */
.form label { color: #000; font-weight:400;font-size: 14px;}
.form label.month {width: 135px;}
.form input, textarea { background-color: rgba(255, 255, 255, 0.4); border: 1px solid #D7DBDD; padding: 7px; font-family: Keffeesatz, Arial; color: #4b4b4b; font-size: 14px; -webkit-border-radius: 5px; margin-bottom: 15px; margin-top: -10px; }
.form input:focus { 
  border: 2px solid #7299F2; 
  background-color: rgba(255, 255, 255, 1); 
  line-height: 18px;
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  transition: all 0.1s ease; }

.form input[id="name"]:focus { 
  border: 2px solid #7299F2; 
  background-color: rgba(255, 255, 255, 1); 
  line-height: 18px;
  width: 303px;
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  transition: all 0.1s ease; }

.form input[id="address"] { 
  margin-bottom: 10px;}

.form input[name="zipcode"] {width: 200px;}

.form input[name="gender"] {width: 50px;}

.form input[name="hobby"] {width: 40px;}

.select {font-size: 14px !important; width: 400px; height: 30px;}

.select:focus {outline: none;}

label {font-size: 46px;}
/* ==========================================================================
   #FORM
   ========================================================================== */
   input {
    outline: none;
    margin: 0;
    border: 1px solid red;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    font-size: 14px;
    font-family: inherit;
  }
  
  .input--style-4 {
    line-height: 20px;
    background: #fafafa;
    /* -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08); */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0 20px;
    font-size: 16px;
    color: #666;
    /* -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease; */
  }
  
  .input--style-4::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #666;
  }
  
  .input--style-4:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #666;
    opacity: 1;
  }
  
  .input--style-4::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #666;
    opacity: 1;
  }
  
  .input--style-4:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #666;
  }
  
  .input--style-4:-ms-input-placeholder {
    /* Microsoft Edge */
    color: #666;
  }



/* ==========================================================================
   #SPACING
   ========================================================================== */
   .p-t-100 {
    padding-top: 100px;
  }
  
  .p-t-130 {
    padding-top: 130px;
  }
  
  .p-t-180 {
    padding-top: 180px;
  }
  
  .p-t-20 {
    padding-top: 20px;
  }
  
  .p-t-15 {
    padding-top: 15px;
  }
  
  .p-t-10 {
    padding-top: 10px;
  }
  
  .p-t-30 {
    padding-top: 30px;
  }
  
  .p-b-100 {
    padding-bottom: 100px;
  }

  .p-b-30 {
    padding-bottom: 30px;
  }
  
  .m-r-45 {
    margin-right: 45px;
  }

  .m-b-30 {
    margin-bottom: 30px;
  }


  /* ==========================================================================
   #CARD
   ========================================================================== */
.rec {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
}

.rec-4 {
  background: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
}

.rec-4 .rec-body {
  padding: 57px 65px;
  padding-bottom: 65px;
}

@media (max-width: 767px) {
  .rec-4 .rec-body {
    padding: 50px 40px;
  }
}


/* ==========================================================================
   #BUTTON
   ========================================================================== */
   .btn {
    display: inline-block;
    line-height: 30px;
    padding: 3px 25px;
    border: none;
    outline: none;
    /* -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease; */
    cursor: pointer;
    font-size: 13px;
    color: #fff;
    font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
  }
  
  .btn--radius {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  
  .btn--radius-2 {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  
  .btn--pill {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
  }
  
  .btn--green {
    background: #57b846;
  }
  
  .btn--green:hover {
    background: #4dae3c;
  }
  
  .btn--blue {
    background: #1a73e8;
  }
  
  .btn--blue:hover {
    background: #3566b8;
  }