/* 초기화 코드 initialization code */
@charset "utf-8";

body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0} 
body {font: 12px "Roboto", "Arial Narrow", HELVETICA; background: #fff; -webkit-text-size-adjust: 100%;} 
a{color:#2d374b;text-decoration:none} 
a:hover{color:#cd0200;text-decoration:none} 
em{font-style:normal} 
li{list-style:none} 
img{border:0;vertical-align:middle} 
table{border-collapse:collapse;border-spacing:0} 
p{word-wrap:break-word}
* {box-sizing: border-box;}
/* ------------------------------------ */







/* 헤더 */
#header {
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: #fff;
    padding-top: 12px;
    top: 0;
    z-index: 9999;
}

#header > div {
    vertical-align: middle;
}

.hd_b1 {
    display: inline-block;
    margin-left: 30px;
}

.hd_b2 {
    display: inline-block;
    float: right;
    margin-right: 20px;
}

.hd_b1 > div {
    vertical-align: middle;
}

.hd_b2 > div {
    vertical-align: middle;
}

.hd_c1, .hd_c2 {
    display: inline-block;
}

.hd_c2 {
    margin-left: 20px;
}

.hd_c1 svg {
    width: 24px;
    height: 24px;
}

.hd_c2 p {
    font-size: 23px;
    font-weight: bold;
}

.hd_c3, .hd_c4 {
    display: inline-block;
}

.hd_c3 {
    margin-right: 20px;
}

.hd_c3 svg {
    width: 24px;
    height: 24px;
}

.hd_c4 img {
    border-radius: 50px;
}
/* ------------------------------------ */







/* 사이드바#sb, 센터#center, 지도#mp_wp 기본배치 */
#sb, #center, #mp_wp {
    margin-top: 60px;
    padding-top: 5px;
}

#sb {
    width: 100px;
    height: 500px;
    text-align: center;
    position: fixed;
    display: inline-block;
    background-color: #fff;;
}

#center {
    width: calc(59% - 20px);
    margin-left: 100px;
    display: inline-block;
    padding-left: 50px;
    overflow: hidden;
}

#mp_wp {
    width: calc(100% - 70px - 60%);
    height: calc(100% - 60px);
    padding: 20px;
    display: absolute;
    right: 0;
    top: 0;
    position: fixed;
    /* visibility: hidden; */
}
/* ------------------------------------ */







/* 사이드바 */
#sb > nav > div {
    /* margin-bottom: 35px; */
}

.sb_it {
    text-align: center;
}

.sb_svg {
    width: 24px;
    height: 24px;
    fill: #626567;
    margin-bottom: 5px;
}

.sb_it button {
    width: 90px;
    height: 90px;
    background-color: #fff;
    border-radius: 2px;
    border: none;
}

.sb_btn:hover {
    background-color: #eff0f1;
    cursor: pointer;
}

.sb_btn_active {
    color: #1967d2;
}

.sb_svg_active {
    fill: #1967d2;
}

.sb_btn_active:hover {
    background-color: #e8f0fe;
}
/* ------------------------------------ */






/* 센터 검색창, 세이브드*/
.ct_ss {
    width: 100%;
    height: 60px;
    overflow: hidden;
    margin-bottom: 20px;
}

.ct_dv {
    display: inline-block;
}

.ct_sc {
    width: 75%;
    height: 55px;
    margin-right: 20px;
}

.ct_sc input {
    width: 100%;
    height: 100%;
    padding-left: 55px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.ct_pn {
    position: absolute;
    left: 160px;
    top: 83px;
}

.ct_sv svg {
    width: 24px;
    height: 24px;
}

.ct_sv button {
    width: 120px;
    height: 45px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 50px;
    font-size: 14px;
}

.ct_dv svg {
    vertical-align: middle;
}
/* ------------------------------------ */







/* 센터 검색창 아래 배너*/
.ct_bn {
    width: 100%;
    height: 180px;
    position: relative;
}

.ct_bn img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    /* object-position: 50% 50%; */
    border-radius: 8px;
    filter: brightness(70%);
}

.ct_bn span {
    position: absolute;
    left: 20px;
    bottom: 15%;
    z-index: 1;
}

.ct_bn h1 {
    font-weight: 500;
    font-size: 52px;
    color: #fff; 
    font-weight: bold;
}

.ct_bn p {
    font-size: 14px;
    color: #fff;
}
/* ------------------------------------ */







/* 센터 배너 아래 Top sights */
.ct_p1 {
    width: 100%;
    height: 100px;
    padding-top: 30px;
}

.ct_p1 h1 {
    font-weight: normal;
    font-size: 22px;
    line-height: 1.5em;
}

.ct_p1 h5 {
    font-weight: normal;
    color: #666;
    font-size: 12px;
}

.uismyc {
    align-items: center;
    color: #757575;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    margin-left: 4px;
    padding: 0;
    margin-bottom: 10px;
}

ol {
    display: block;
    list-style-type: decimal;

}

.sp_n {
    color: #1e90ff;
}

.sp h1{
    font-size: 32px;
}


/* ------------------------------------ */







/* Top sights 상품 */
.ts_wp {
    margin-bottom: 30px;
    margin-top: 20px;
}

.ts_wp > div:nth-child(3n) {
    margin-right: 0;
}

.ts_pt {
    width: calc((100% - 34px)/3);
    height: calc(200px + 4vw);
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 13px;
    display: inline-block;
    position: relative;
    margin-bottom: 15px;
    vertical-align: top;
}

.ts_pt:hover {
    box-shadow: 0px 4px 5px rgb(179, 179, 179);
}

.pt_im {
    width: 100%;
    height: 9vw;
}

.pt_im img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 0 0;
    object-fit: cover;
}

.pt_dt {
    width: 100%;
    padding: 15px 10px 0 10px;
}

.pt_tt {
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 10px;
}

.pt_rt {
    font-weight: normal;
    font-size: 12px;
    margin-bottom: 10px;
}

.pt_rt div {
    display: inline;
}

.pt_ap {
    font-weight: normal;
    font-size: 12px;
}

.pt_sv {
    width: 34px;
    height: 34px;
    padding-top: 7px;
    border-radius: 50%;
    text-align: center;
    right: 10px;
    top: 10px;
    position: absolute;
    background: rgba(48, 48, 48, 0.6);
}

.pt_sv svg {
    fill: #fff;
    width: 20px;
    height: 20px;
}
/* ------------------------------------ */







/* See all top sights */
.sa_ts {
    text-align: center;
}

.sa_ts button {
    width: 330px;
    height: 35px;
    border: 1px solid #1e90ff;
    background-color: #fff;
    border-radius: 30px;
}

.sa_ts button > * {
    vertical-align: middle;
}
/* ------------------------------------ */







/* Top sights by interest 제목 */
.ti_wp {
    margin-bottom: 80px;
    border: 1px solid green;
}

.ti_it {
    width: 100%;
    height: 100px;
    border: 1px solid red;
    padding-top: 50px;
}

.ti_it h2 {
    font-weight: normal;
    font-size: 22px;
    line-height: 1.5em;
}
/* ------------------------------------ */







/* Top sights by interest 상품정보 */
.ti_pt {
    width: calc((100% -120px)/9);
    height: calc(120px -2vw);
    /* border: 1px solid #ccc; */
    /* border-radius: 10px; */
    margin-right: 9px;
    display: inline-block;
    position: relative;

}


.ti_pt img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(70%);
}

.ti_pt:hover {
    box-shadow: 0px 4px 5px rgb(161, 161, 161);
}

.ti_dt {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    left: 15px;
    bottom: 15px;
    position: absolute;
    font-weight: bold;
}
/* ------------------------------------ */







/* Popular food and drink */
.pf_cn {
    border: 1px solid green;
    width: calc(5*1100px);
    margin-bottom: 80px;
    position: relative;
}

.pf_tt h2 {
    font-weight: normal;
    font-size: 22px;
}

.pf_tt h3 {
    font-weight: normal;
    font-size: 12px;
}

.pf_tt {
    margin-bottom: 20px;
}

.pf_wp {
    width: 114px;
    margin-right: 5px;
    display: inline-block;
    height: 207px;
    border: 1px solid #999;
    border-radius: 8px;
    vertical-align: top;
}

.pf_wp:hover {
    box-shadow: 0px 5px 7px rgb(145, 145, 145);
}

.pf_fr {
    width: 100%;
    height: 113px;
    margin-bottom: 10px;
}

.pf_fr img {
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
}

.pf_dt {
    font-weight: normal;
    font-size: 14px;
    text-align: center;
}

.pf_ak {
    top: 155px;
    left: -20px;
    position: absolute;
    
}

.pf_ak button {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #ccc;
}

.pf_rt {
    left: calc(5px + 46vw);
}

.pf_ak svg {
    padding-top: 3px;
}
/* ------------------------------------ */



/* Popular food and drink text */
.fd_cn {
    border: 1px solid green;
    width: calc(5*1100px);
    margin-bottom: 80px;
    position: relative;
}

.fd_tt {
    width: 500px;
    margin-right: 5px;
    display: inline-block;
    height: 207px;
    border: 1px solid #ccc;
    border-radius: 8px;
    vertical-align: top;
    position: relative;
}



.fd_tt2 {
    position: relative;
    padding: 10px;
}

.fd_tt2 img {
    width: 140px;
    height: 140px;
    position: absolute;
}

.fd_i {
    display: inline;
    width: 150px;
    height: 150px;
}

.fd_a {
    margin-left: 150px;
}

.fd_a_t {
    font-size: 16px;
    margin-bottom: 5px;
    color: #5f6368;;
}

.fd_a_c {
    font-size: 14px;
    color: #5f6368;;
}

.fd_w {
    margin-left: 5px;
    color: #1a73e8;
}

.fd_rl {
    position: absolute;
    top: 85%;
}

.fd_r {
    display: inline;
    height: 35px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 15px 96.5px;
}

.fd_r a {
    color: #1a73e8;
}

.fd_l {
    display: inline;
    height: 35px;
    border-top: 1px solid #ccc;
    padding: 15px 80px;
}

.fd_l a{
    color: #1a73e8;
}





/* Suggested day plans */
.sg_dp {
    border: 1px solid green;
    width: 5500px;
    margin-bottom: 50px;
    margin-top: 50px;
    position: relative;
}

.sg_bt h2 {
    font-weight: normal;
    font-size: 22px;
}

.sg_st a {
    font-weight: normal;
    font-size: 12px;
}

.sg_tt {
    margin-bottom: 10px;
}

.sg_it {
    border: 1px solid blue;
    width: 230px;
    height: 300px;
    border-radius: 8px;
    margin-right: 5px;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.sg_mp img {
    border-radius: 8px 0 0 0;
    margin-bottom: 3px;
}

.sg_mr {
    right: -4px;
    top: 0;
    position: absolute;
}

.sg_sg {
    margin-bottom: 13px;
}

.sg_mr img {
    border-radius: 0 8px 0 0;
}

.sg_sc {
    margin-left: 10px;
}

.sg_tt {
    font-weight: normal;
    font-size: 16px;
}

.sg_dt {
    font-weight: normal;
    font-size: 12px;
    line-height: 1.5em;
    margin-bottom: 10px;
}

.sg_dt svg {
    width: 16px;
    height: 16px;
    fill: #666;
    vertical-align: middle;
    margin-right: 5px;
}

.trunc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.sg_rr {
    top: 170px;
}
/* ------------------------------------ */







/* footer */
.ft_wp {
    text-align: center;
    margin: 20px 0 30px 0;
    font-weight: normal;
    font-size: 14px;
}

.ft_lf a, .ft_lf span{
    color: #1e90ff;
    margin-right: 15px;
}

.ft_lf  {
   margin-bottom: 10px; 
}
/* ------------------------------------ */







/* map */
#map {
    width: 100%;
    height: 100%;
}
/* ------------------------------------ */
