/* 초기화 코드 initialization code */
@charset "utf-8";

body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0} 
body {font: 12px "Roboto", "Arial Narrow", HELVETICA; background: #fff; -webkit-text-size-adjust: 100%;} 
a{color:#2d374b;text-decoration:none} 
a:hover{color:#cd0200;text-decoration:none} 
em{font-style:normal} 
li{list-style:none} 
img{border:0;vertical-align:middle} 
table{border-collapse:collapse;border-spacing:0} 
p{word-wrap:break-word}
* {box-sizing: border-box;}
* { outline: none;}
/* ------------------------------------ */







/* 헤더 */
#header {
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: #fff;
    padding-top: 12px;
    top: 0;
    z-index: 9999;
}

#header > div {
    vertical-align: middle;
}

.hd_b1 {
    display: inline-block;
    margin-left: 30px;
}

.hd_b2 {
    display: inline-block;
    float: right;
    margin-right: 20px;
}

.hd_b1 > div {
    vertical-align: middle;
}

.hd_b2 > div {
    vertical-align: middle;
}

.hd_c1, .hd_c2 {
    display: inline-block;
}

.hd_c2 {
    margin-left: 20px;
}

.hd_c1 svg {
    width: 24px;
    height: 24px;
}

.hd_c2 p {
    font-size: 23px;
    font-weight: bold;
}

.hd_c3, .hd_c4 {
    display: inline-block;
}

.hd_c3 {
    margin-right: 20px;
}

.hd_c3 svg {
    width: 24px;
    height: 24px;
}

.hd_c4 img {
    border-radius: 50px;
}
/* ------------------------------------ */







/* 사이드바#sb, 센터#center, 지도#mp_wp 기본배치 */
#sb, #center, #mp_wp {
    margin-top: 60px;
    padding-top: 5px;
}

#sb {
    width: 92px;
    height: 500px;
    /* border: 1px solid red; */
    text-align: center;
    position: fixed;
    display: inline-block;
    background-color: #fff;;
}

#center {
    width: calc(59% - 20px);
    /* border: 1px solid red; */
    margin-left: 100px;
    display: inline-block;
    padding-left: 50px;
    overflow: hidden;
}

#mp_wp {
    width: calc(100% - 70px - 60%);
    height: calc(100% - 60px);
    padding: 20px;
    /* border: 1px solid red; */
    display: absolute;
    right: 0;
    top: 0;
    position: fixed;
    /* visibility: hidden; */
}
/* ------------------------------------ */







/* 사이드바 */
#sb > nav > div {
    /* margin-bottom: 35px; */
}

.sb_it {
    text-align: center;
}

.sb_svg {
    width: 24px;
    height: 24px;
    fill: #626567;
}

.sb_it button {
    width: 90px;
    height: 90px;
    background-color: #fff;
    border-radius: 2px;
    border: none;
}

.sb_btn:hover {
    background-color: #eff0f1;
    cursor: pointer;
}

.sb_btn_active {
    color: #1967d2;
}

.sb_svg_active {
    fill: #1967d2;
}

.sb_btn_active:hover {
    background-color: #e8f0fe;
}
/* ------------------------------------ */







/* 센터 검색창, 세이브드*/
.ct_ss {
    width: 100%;
    height: 60px;
    overflow: hidden;
    /* border: 1px solid green; */
    margin-bottom: 10px;
    position: relative;
}

.ct_dv {
    position: absolute;
    right: 10px;
    bottom: 5px;
}

.ct_sc {
    width: 75%;
    height: 55px;
    margin-right: 20px;
}

.ct_sc input {
    width: 100%;
    height: 100%;
    padding-left: 55px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.ct_pn {
    position: absolute;
    left: 170px;
    top: 83px;
}

.ct_sv svg {
    width: 24px;
    height: 24px;
}

.ct_sv button {
    width: 120px;
    height: 45px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 50px;
    font-size: 14px;
}

.ct_at {
    cursor: pointer;
}

.ct_dv svg {
    vertical-align: middle;
}
/* ------------------------------------ */







/* 센터 검색창 아래 배너*/
.ct_bn {
    width: 100%;
    height: 180px;
    position: relative;
}

.ct_bn img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    /* object-position: 50% 50%; */
    border-radius: 8px;
    filter: brightness(70%);
}

.ct_bn span {
    position: absolute;
    left: 20px;
    bottom: 15%;
    z-index: 1;
}

.ct_bn h1 {
    font-weight: 500;
    font-size: 52px;
    color: #fff; 
}

.ct_bn p {
    font-size: 14px;
    color: #fff;
}
/* ------------------------------------ */







/* 센터 배너 아래 Top sights */
.ct_p1 {
    width: 100%;
    height: 100px;
    /* border: 1px solid red; */
    padding-top: 30px;
}

.ct_p1 h1 {
    font-weight: normal;
    font-size: 22px;
    line-height: 1.5em;
}

.ct_p1 h5 {
    font-weight: normal;
    color: #666;
    font-size: 12px;
}
/* ------------------------------------ */







/* Box-shadow */
.bx_hs {
    transition: box-shadow .1s;
}

.bx_hs:hover {
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(33, 3, 33, .2);
}

.bx_ts {
    transition: box-shadow .1s;
}

.bx_ts:hover {
    cursor: pointer;
    box-shadow: 0 1px 10px rgba(20, 20, 20, 0.2);
}
/* ------------------------------------ */







/* Top sights 상품 */
.ts_wp {
    margin-bottom: 30px;
    /* border: 1px solid blue; */
}

.ts_wp > div:nth-child(4n-1) {
    margin-right: 0;
}

.ts_pt {
    width: calc((100% - 34px)/3);
    height: calc(200px + 4vw);
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 13px;
    display: inline-block;
    position: relative;
    margin-bottom: 15px;
    vertical-align: top;
}

.pt_im {
    width: 100%;
    height: 9vw;
    /* border: 1px solid green; */
}

.pt_im img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 0 0;
    object-fit: cover;
}

.pt_dt {
    width: 100%;
    padding: 15px 10px 0 10px;
}

.pt_tt {
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 10px;
}

.pt_rt {
    font-weight: normal;
    font-size: 12px;
    margin-bottom: 10px;
}

.pt_rt div {
    display: inline;
    font-size: 0;
}

.pt_rt div span {
    font-size: 16px;
    padding: 0;
    margin-right: -5px;
}

.pt_sf {
    color: #fbbc04;
}

.pt_rt div+span {
    margin-left: 10px;
}

.pt_ap {
    font-weight: normal;
    font-size: 12px;
}

.pt_sv {
    width: 34px;
    height: 34px;
    padding-top: 7px;
    border-radius: 50%;
    text-align: center;
    right: 10px;
    top: 10px;
    position: absolute;
    background: rgba(48, 48, 48, 0.6);
}

.pt_sv svg {
    fill: #fff;
    width: 20px;
    height: 20px;
}
/* ------------------------------------ */







/* See all top sights */
.sa_ts {
    text-align: center;
}

.sa_ts button {
    width: 330px;
    height: 35px;
    border: 1px solid #1e90ff;
    background-color: #fff;
    border-radius: 30px;
}

.sa_ts button > * {
    vertical-align: middle;
}
/* ------------------------------------ */







/* Top sights by interest 제목 */
.ti_wp {
    width: 5500px;
    margin-bottom: 80px;
    /* border: 1px solid green; */
}

.ti_pd {
    position: relative;
}

.ti_it {
    width: 100%;
    height: 100px;
    /* border: 1px solid red; */
    padding-top: 50px;
}

.ti_it h2 {
    font-weight: normal;
    font-size: 22px;
    line-height: 1.5em;
}

.ti_rr {
    top: 30px !important ;
}
/* ------------------------------------ */







/* Top sights by interest 상품정보 */
.ti_pt {
    width: 115px;
    height: 115px;
    /* border: 1px solid #ccc; */
    border-radius: 10px;
    margin-right: 5px;
    display: inline-block;
    position: relative;
}

.ti_pt img {
    width: 115px;
    height: 115px;
    object-fit: cover;
    border-radius: 10px;
}

.ti_dt {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    left: 15px;
    bottom: 15px;
    position: absolute;
}
/* ------------------------------------ */







/* Popular food and drink */
.pf_cn {

    width: calc(5*1100px);
    margin-bottom: 80px;
    position: relative;
}

.pf_tt h2 {
    font-weight: normal;
    font-size: 22px;
}

.pf_tt h3 {
    font-weight: normal;
    font-size: 12px;
}

.pf_tt {
    margin-bottom: 20px;
}

.pf_wp {
    width: 114px;
    margin-right: 5px;
    display: inline-block;
    height: 207px;
    border: 1px solid #999;
    border-radius: 8px;
    vertical-align: top;
}

.pf_wp:hover {
    box-shadow: 0px 5px 7px rgb(145, 145, 145);
}

.pf_fr {
    width: 100%;
    height: 113px;
    margin-bottom: 10px;
}

.pf_fr img {
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
}

.pf_dt {
    font-weight: normal;
    font-size: 14px;
    text-align: center;
}

.pf_ak {
    top: 155px;
    left: -20px;
    position: absolute;
    
}

.pf_ak button {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #ccc;
}

.pf_rt {
    left: calc(5px + 46vw);
}

.pf_ak svg {
    padding-top: 3px;
}
/* ------------------------------------ */



/* Popular food and drink text */
.fd_cn {

    width: calc(5*1100px);
    margin-bottom: 80px;
    position: relative;
    display: none;
    margin-left: 20%;
}

.fd_tt {
    width: 500px;
    margin-right: 5px;
    display: inline-block;
    height: 207px;
    border: 1px solid #ccc;
    border-radius: 8px;
    vertical-align: top;
    position: relative;
}



.fd_tt2 {
    position: relative;
    padding: 10px;
}

.fd_tt2 img {
    width: 140px;
    height: 140px;
    position: absolute;
}

.fd_i {
    display: inline;
    width: 150px;
    height: 150px;
}

.fd_a {
    margin-left: 150px;
}

.fd_a_t {
    font-size: 14px;
    margin-bottom: 5px;
    color: #5f6368;;
}

.fd_a_c {
    font-size: 12px;
    color: #5f6368;;
}

.fd_w {
    margin-left: 5px;
    color: #1a73e8;
}

.fd_rl {
    position: absolute;
    top: 85%;
}

.fd_r {
    display: inline;
    height: 35px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 15px 96.5px;
}

.fd_r a {
    color: #1a73e8;
}

.fd_l {
    display: inline;
    height: 35px;
    border-top: 1px solid #ccc;
    padding: 15px 80px;
}

.fd_l a{
    color: #1a73e8;
}

/* ------------------------------------ */







/* Suggested day plans */
.sg_dp {
    /* border: 1px solid green; */
    width: 5500px;
    margin-bottom: 50px;
    position: relative;
}

.sg_bt h2 {
    font-weight: normal;
    font-size: 22px;
}

.sg_st a {
    font-weight: normal;
    font-size: 12px;
}

.sg_tt {
    margin-bottom: 10px;
}

.sg_it {
    border: 1px solid #ccc;
    width: 230px;
    height: 300px;
    border-radius: 8px;
    margin-right: 5px;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.sg_mp img {
    border-radius: 8px 0 0 0;
    margin-bottom: 3px;
}

.sg_mr {
    right: -4px;
    top: 0;
    position: absolute;
}

.sg_sg {
    margin-bottom: 13px;
}

.sg_mr img {
    border-radius: 0 8px 0 0;
}

.sg_sc {
    margin-left: 10px;
}

.sg_tt {
    font-weight: normal;
    font-size: 16px;
}

.sg_dt {
    font-weight: normal;
    font-size: 12px;
    line-height: 1.5em;
    margin-bottom: 10px;
}

.sg_dt svg {
    width: 16px;
    height: 16px;
    fill: #666;
    vertical-align: middle;
    margin-right: 5px;
}

.trunc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.sg_rr {
    top: 170px;
}
/* ------------------------------------ */







/* footer */
.ft_wp {
    
    margin: 20px 0 30px 0;
    /* border: 1px solid green; */
    font-weight: normal;
    font-size: 14px;
}


.ft_lf  {
   text-align: right;
   margin-bottom: 30px; 
   color: rgb(112, 112, 112);
   font-size: 11px;
}

.ft_ls{
    text-align: center;
}
/* ------------------------------------ */







/* map */
#map {
    width: 100%;
    height: 100%;
}
/* ------------------------------------ */



#showoff_test {
    transition: height 1s, width 0s, padding 1s, visibility 1s, opacity 1s ease-out;
    margin-bottom: 10px;
}




/* detail script */
#center_test {
    width: 100%;
    height: 750px;
    /* margin-left: 100px; */
    display: inline-block;
    padding-right: 10px;
    overflow: hidden;
}

.ma_dt_wp {
    width: 100%;
    height: calc(610px-0.01vw);
    padding: 15px;
    background-color: #eee;
    transition: height 0.1s, width 0s, padding 0.1s, visibility 0.1s, opacity 0.1s ease-out;
}

.ma_dt_oc {
    background-color: #fff;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.ma_dt_pp {
    width: 5500px;
    position: relative;
    overflow: hidden;
}

.ma_dt_ec {
    width: 280px;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.ma_dt_ec img {
    height: 190px;
}

.ma_dt_nm {
    color: #fff;
    font-weight: 600;
    position: absolute;
    left: 20px;
    bottom: 10px;
}

.ma_dt_nm a {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.ma_dt_bs {
    width: 100%;
    padding: 25px 20px;
    color: #333;
    overflow: hidden;
}

.ma_dt_tb {
    width: 100%;
    height: 100%;
}

.ma_tb_lf {
    vertical-align: top;
    width: 55%;
}

.ma_tb_rt {
    padding-left: 20px;
    padding-top: 20px;
    width: 35%;
}

.ma_dt_bs h3 {
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 20px;
}

.ma_md_hr {
    margin-left: -20px;
    width: 120%;
    height: 1px;
    background-color: #ccc;
}

.ma_md_ht {
    margin-left: -20px;
    width: 120%;
    height: 1px;
    background-color: #ccc;
}

.ma_dt_tt {
    margin-bottom: 20px;
}

.ma_dt_at {
    font-size: 13px;
    line-height: 1.7em;
}

.ma_rt_tt {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 20px;
}

.ma_rt_tb {
    vertical-align: top;
}

.ma_bt_sy {
    padding-left: 15px;
    padding-bottom: 18px;
}

.ma_bt_sy a {
    font-size: 13px;
}

.ma_dt_mo {
    width: 100%;
    text-align: center;
}

.ma_dt_mo span {
    font-size: 14px;
    font-weight: 500;
    color: #3c87eb;
}

.ma_dt_hl {
    position: absolute;
    top: 250px;
    width: 100%;
    height: 1px;
    background-color: #ccc;
}

.ma_dt_ll {
    position: absolute;
    top: 95%;
    width: 100%;
    height: 1px;
    background-color: #ccc;
}

.ma_dt_mt {
    padding-top: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    color: #3c87eb;
}

.ma_dt_mt {
    height: 100%;
    position: relative;
}

.ma_dt_bp {
    line-height: 3em;
}
/* ------------------------------------ */

